client_id     = 'xxxxxx-xxxxxxx'
client_secret = 'xx-xxxxxxxxxxxxxxxxxxxxxxxx'
password      = 'yourpasswordhere'
user_agent    = 'com.ploverscript.bot:v0 (executed by /u/yournamehere)'
username      = '/u/yournamehere'
